label {
    padding-right: 50px;
    font-size: 10rem;
    font:bold;
}


.column {
  float: left;
  width: 38%;
	
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#rainbow {
 background-image: linear-gradient( 111.5deg,  rgba(249,230,1,1) 9.9%, rgba(249,144,1,1) 19.4%, rgba(255,22,22,1) 29.2%, rgba(255,22,133,1)    37.7%, rgba(255,22,197,1) 47.7%, rgba(232,22,255,1) 53.9%, rgba(162,22,255,1) 60%, rgba(80,22,255,1) 68.8%, rgba(22,104,255,1) 74.2%, rgba   (22,168,255,1) 77.6%, rgba(22,255,220,1) 86.7%, rgba(22,255,179,1) 92.5%, rgba(22,255,109,1) 97.1%, rgba(92,255,22,1) 103.5% );
}

.glow {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #FFFF00, 0 0 20px #FFFF00, 0 0 30px #FFFF00, 0 0 40px #FFFF00, 
                 0 0 50px #66FF00, 0 0 60px #66FF00, 0 0 70px #66FF00;
  }
  to {
    text-shadow: 0 0 20px #FF033E, 0 0 30px #FF033E, 0 0 40px #FF033E, 0 0 50px#FF033E, 
                 0 0 60px #0000FF, 0 0 70px #0000FF, 0 0 80px #0000FF;
  }
}


#earth {
 position:relative;
 height:300px;
 width:300px;
 margin: 0.05em auto;
 background:#888 url("../images/map.png")
0 0 repeat;
  border-radius: 50%;
  background-size:630px;
  animation: rotate 10s linear infinite;
  transition: transform 200ms linear;
  transform-style:preserve-3d;
  box-shadow: inset 0px 0 10px 0px #000080;
  color:#000;
}
@keyframes rotate{
 0%{
  background-position:0 0;
}
100%{
 background-position: 630px 0;
}


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}












