<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .button1 {
      
      background-image: linear-gradient(90deg, #00dade00 0%, #ffee00 100%);
      border: 2px solid black; 
      border-radius: 20px;
      background-image: linear-gradient(90deg, #00dade00 0%, #ffee00 100%);
    }
    .button2 {
      
      background-image: linear-gradient(90deg, #00dade00 0%, #ffee00 100%);
      border: 2px solid black;
      padding: 10px; 
      border-radius: 20px;
      background:whitesmoke;
      
    }

    .button3 { 
      
      color:#fff;
      background-color:navy;
      cursor: pointer;
      box-shadow: 0 2px #999;
      text-align: center;
      margin-bottom: 20px;
      display: inline-block;
      font-size: 16px;
      margin: 2px 4px; 
      border-radius: 10px;
    }  
    .button3:hover {background-color:rgb(0, 102, 255);}

    .button3:active {

      background-color: navy;
      box-shadow: 0 1px #999;
      transform: translateY(4px);
}



meter::-webkit-meter-bar {
  animation: animate-stripes 5s linear infinite;
  background-image:
    linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    );
  background-size: 50px 25px;
}

@keyframes animate-stripes {
  to { background-position: -50px 0; }
}


.hide {
  display: none;
}    
.myDIV:hover + .hide {
  display: block;
  color:black;
  background: white;

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
 


.tableFixHead {
        overflow-y: auto;
        height: 500px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 8px 16px;
        border: 1px solid #ccc;
      }
      th {
        background: #eee;
      } 




  </style>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="wrapper">
     
    </div>    
    
        <div class='glow' style='font-size:75px;'>&#127752;Happiness</h1></div>
      
 
    <div class='container-fluid'>  
       
        <div class='row' style='background-image: linear-gradient( 111.5deg,  rgba(249,230,1,1) 9.9%, rgba(249,144,1,1) 19.4%, rgba(255,22,22,1) 29.2%, rgba(255,22,133,1) 37.7%, rgba(255,22,197,1) 47.7%, rgba(232,22,255,1) 53.9%, rgba(162,22,255,1) 60%, rgba(80,22,255,1) 68.8%, rgba(22,104,255,1) 74.2%, rgba(22,168,255,1) 77.6%, rgba(22,255,220,1) 86.7%, rgba(22,255,179,1) 92.5%, rgba(22,255,109,1) 97.1%, rgba(92,255,22,1) 103.5% );;'>
        
            <div class='column'style='margin-left:20px; margin-top:20px;'>
                <h5>We are going to show you how Happy the world is!<br><br> Are you ready?<br><br>We have gathered datasets regarding how happy people feel around the world. What makes some countries happier than others?
                 Are the well-being and happiness critical indicators of nation's economic and socila development?<br>
                  We are going to try and answer those questions with some cool visualizations. <br>
                  We have used datasets provided in the world happiness report website.
                  <br>Do you want to know how & why the World Happiness Report came about?</h5>
                  <h5>  Here is the link. Happy reading!</h5><br>
                    <!-- <button class='btn-grad'> -->
                      
                      <!-- <a class="navbar-brand" href="https://worldhappiness.report" <style class='button1'<small>World Happiness Report</small></h5></button></a><br></style> -->
                      <a class="button1" style='padding:5px;' href="https://worldhappiness.report" >&nbsp;&nbsp;World Happiness Report&nbsp;&nbsp;</button></a><br>
                  
                  
                  <br><h6>First let us explain briefly what the 8 features measure.For each feature there is a numerical range to be chosen from,
                  High Life Ladder Score means a happier nation<br>
                  <br>
                  The world happiness indicators are shown below. You can hover on each feature and get an explaination to what they are:<br>
                  <br></h6>
                  
                  
                  <p class='myDIV'>Log GDP per capita</p>
                  <p class='hide'>Gross Domestic Product (between 6-12)</p><br> 
            
                  <p class='myDIV' >Social Support</p>
                  <p class='hide'>Support from friends and family when in need (between 0-1)</p><br>

                  <p class='myDIV'>Life Expectancy at birth</p>
                  <p class='hide'>How long you are expected to live at birth</p><br> 

                  <p class='myDIV'>Freedom to make life choises</p>
                  <p class='hide'>Do you feel that you are free to make choices(between 0-1)</p><br>


                  <p class='myDIV'>Generosity</p>
                  <p class='hide'>Do you donate to charity? (-1 - 1)</p><br> 
            
                  <p class='myDIV'>Perception of corruption</p>
                  <p class='hide'> In goverment and business (between 0-1)</p><br>

                  <p class='myDIV'>Positive affect</p>
                  <p class='hide'>Are you feeling positive and happy often? (0-1)</p><br> 

                  <p class='myDIV'> Negative affect</p>
                  <p class='hide'>Are you feeling negative and sad often? (0-1)</p><br><br><br>

                        

                  
            </div>

            <div class='column' id='earth' style='margin-top: 20px; margin-bottom: 20px;'>
            
            </div>
            
            <div class='col-md-4' style='margin-left:20px; margin-top:20px; color:black'>
                <h5>We have created maps to show you how the Life Ladder scores of the world look like.<br>We have also created clusters to see possible similarities between the countries.</h5>
                 <h5>The suffix 'LL' shows the Life Ladder scores and 'CI' shows the cluster ID's. We have used 20 clusters in total to visualize how the countries are grouped together</h5><br>
                 <h5>Countries with missing data are colored in white</h5><br>
                <h5>Click on the year</h5>
             <p> 
              <a href="../static/images/2008_LL.html" target='blank' style='color:white'>2008 LL &nbsp;</a>
              <a href="../static/images/2008_CI.html" target='blank' style='color:white'>2008 CI &nbsp</a>
              <a href="../static/images/2009_LL.html" target='blank' style='color:white'>2009 LL &nbsp;</a>
              <a href="../static/images/2009_CI.html" target='blank' style='color:white'>2009 CI &nbsp</a>
               <a href="../static/images/2010_LL.html" target='blank' style='color:white'>2010 LL &nbsp;</a>
               <a href="../static/images/2010_CI.html" target='blank' style='color:white'>2010 CI &nbsp</a>
               <a href="../static/images/2011_LL.html" target='blank' style='color:white'>2011 LL &nbsp;</a>
               <a href="../static/images/2011_CI.html" target='blank' style='color:white'>2011 CI &nbsp</a>
               <a href="../static/images/2012_LL.html" target='blank' style='color:white'>2012 LL &nbsp;</a>
               <a href="../static/images/2012_CI.html" target='blank' style='color:white'>2012 CI &nbsp</a>
               <a href="../static/images/2013_LL.html" target='blank' style='color:white'>2013 LL &nbsp;</a>
               <a href="../static/images/2013_CI.html" target='blank' style='color:white'>2013 CI &nbsp</a>   
             </p>
            <p>  
                <a href="../static/images/2014_LL.html" target='blank' style='color:white'>2014 LL &nbsp;</a>
                <a href="../static/images/2014_CI.html" target='blank' style='color:white'>2014 CI &nbsp</a>
                <a href="../static/images/2015_LL.html" target='blank' style='color:white'>2015 LL &nbsp;</a>
                <a href="../static/images/2015_CI.html" target='blank' style='color:white'>2015 CI &nbsp</a>
                <a href="../static/images/2016_LL.html" target='blank' style='color:white'>2016 LL &nbsp;</a>
                <a href="../static/images/2016_CI.html" target='blank' style='color:white'>2016 CI &nbsp</a>
                <a href="../static/images/2017_LL.html" target='blank' style='color:white'>2017 LL &nbsp;</a>
                <a href="../static/images/2017_CI.html" target='blank' style='color:white'>2017 CI &nbsp</a>       
            </p>
            <p>
                <a href="../static/images/2018_LL.html" target='blank' style='color:white'>2018 LL &nbsp;</a>
                <a href="../static/images/2018_CI.html" target='blank' style='color:white'>2018 CI &nbsp</a>
                <a href="../static/images/2019_LL.html" target='blank' style='color:white'>2019 LL &nbsp;</a>
                <a href="../static/images/2019_CI.html" target='blank' style='color:white'>2019 CI &nbsp</a> 
                <a href="../static/images/2020_LL.html" target='blank' style='color:white'>2020 LL &nbsp;</a>
                <a href="../static/images/2020_CI.html" target='blank' style='color:white'>2020 CI &nbsp</a>
            </p>
          
            <h6>For Correlation plot click here&nbsp;<i class='arrow right'></i>
             <a href='../static/images/Plots/heatmap_seaborn_all_years.png' target='blank''><span style='font-size:25px;'>&#127752;</span></a></h6>
            <h6>For Overview of scatter plots click here&nbsp;<i class='arrow right'></i>
              <a href='../static/images/Plots/scatter_plot_v2.png' target='blank'><span style='font-size:25px;'>&#127752;</span></a></h6>


              <h6>For individual scatter plots of each feature click on the feature name</h6>
              <a href="../static/images/Plots/scatter_plot_GDP.png" target='blank' style='color:white'>Log GDP &nbsp;</a><br>
              <a href="../static/images/Plots/scatter_plot_Social_support.png" target='blank' style='color:white'>Social Support &nbsp;</a><br>
              <a href="../static/images/Plots/Healthy_life_expectancy_at_birth.png" target='blank' style='color:white'>Healthy Life Expectancy at Birth &nbsp;</a><br>
              <a href="../static/images/Plots/scatter_plot_Freedom_to_make_life_choices.png"  target='blank' style='color:white'>Freedom to make life choices &nbsp;</a><br>
              <a href="../static/images/Plots/scatter_plot_Generosity.png"target='blank' style='color:white'>Generosity &nbsp;</a><br>
              <a href="../static/images/Plots/scatter_plot_Perceptions_of_corruption.png"target='blank' style='color:white'>Perception of corruption &nbsp;</a><br>
              <a href="../static/images/Plots/scatter_plot_Positive_affect.png"target='blank' style='color:white'>Positive affect &nbsp;</a><br>
              <a href="../static/images/Plots/scatter_plot_Negative_affect.png"target='blank' style='color:white'>Negative affect &nbsp;</a><br>
            
            
            </h6>

            <br><br><h6>For Tableau visualization click on the link below <br><br>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='button2' href='https://public.tableau.com/views/Book2_16380679399500/Overview?:language=en-US&:display_count=n&:origin=viz_share_link'>
                &nbsp;&nbsp;&nbsp;&nbsp;Tableau Link &nbsp;&nbsp;&nbsp;&nbsp</button></a><br>
            </h6>   
          </div>
        
        
        
          <form  action="{{url_for('predict')}}"method='post' id='myForm'>
            <h5>&nbsp;&nbsp; Let our machine learning model predict you'r Life Ladder Score<br>&nbsp;&nbsp;</h5><br>
            <input class='button3' type="button" onclick="myFunction()" value="Reset form" style='position: relative;left:1125px; top:10px;'>


          <input type='text' name='GDP' placeholder='Log GDP per capita' required='required' style='margin-bottom:20px; position:relative;right:90px; text-align:center;'/>
            &nbsp;&nbsp;<input type='text' name='social support' placeholder='Social support' required='required;' style='position:relative;right:90px;text-align:center;'/>
            &nbsp;&nbsp;<input type='text' name='Healthy life expectancy at birth ' placeholder='Healthy life expectancy' required='required;' style='position:relative;right:90px;text-align:center;'/>
            &nbsp;&nbsp;<input type='text' name='Freedom to make life choices' placeholder='Freedom to make choices' required='required;' style='position:relative;right:90px;text-align:center;'/><br>
           
            &nbsp;&nbsp;<input type='text' name='Generosity' placeholder='Generosity' required='required' style='margin-bottom: 20px; text-align:center;'/>
            &nbsp;&nbsp;<input type='text' name='Perceptions of corruption' placeholder='Perceptions of corruption' required='required;' style='text-align:center;'/>
            &nbsp;&nbsp;<input type='text' name='Positive affect' placeholder='Positive affect ' required='required;' style='text-align:center;'/>
            &nbsp;&nbsp;<input type='text' name='Negative affect' placeholder='Negative affect ' required='required;' style='text-align:center;'/>      
            &nbsp;&nbsp; <button style='font-size: medium;margin-bottom:10px' type='submit' class='btn'>&nbsp;&nbsp;PREDICT&nbsp;&nbsp;</button>
            <input type='text' id='myText' value={{prediction_value}}>
            <button class='button3' onclick="document.getElementById('myText').value = ''" style='width:150px; height:28px;'>&nbsp;&nbsp;Clear My Score&nbsp;&nbsp;</button> 
            <br><button class='button3' onclick="document.getElementById('myMeter').value=''"style='position: relative;left:1110px; top:100px;'>Clear Happiness meter</button>
           
            

          
            
     
           <p style='margin-left:475px; font-size:35px;'>&nbsp;&nbspHappiness Meter</p>
            <meter id="myMeter" style="width:700px; height:40px; margin-left: 275px;margin-bottom: 20px;"
                    min='0' max='10'
                    low='4' high='6' optimum='8'
                    value={{prediction_value}}>
                    at {{prediction_value}}/10     
                   
            </meter>  
          
               
          </form>

    </div>


            <div class='wrapper'>        

                <p>In this section, you can filter the dataset for the years 2008-2020 to see each country's Life Ladder score and it's denominators</p>

                    <!-- adding prompt to enter date-->
                    <label for="date"><h5>&nbsp;&nbsp;&nbsp;Enter Year</h5></label>
                    <input type="number" placeholder="2008" id="year" />
                  </li>

                     <button id="filter-btn" type="button" class="btn" style='margin-bottom: 10px; border-color: cornflowerblue; border-width: 5px;'>
                       Filter Table
                     </button>
                    
          

                  </li>
                </ul>
            </form> 
            <!--create the html table-->
              <div class="tableFixHead">
                <table class='table table-striped'>
                     
                    <thead>
             
                        <tr>
                          
                            <!-- build up the columns as they show in the app.py date array-->
                            <th>Country name</th>
                            <th>year</th>
                            <th>Life Ladder</th>
                            <th>Log GDP per capita</th>
                            <th>Social support</th>
                            <th>Healthy life expectancy at birth</th>
                            <th>Freedom to make life choices</th>
                            <th>Generosity</th>
                            <th>Perceptions of corruption</th>
                            <th>Positive affect</th>
                            <th>Negative affect</th>
                        </tr>
                      </div> 
                    </thead>
                    <tbody></tbody> 
                
                </div>
                </table>

    </div>


   </div>
    










<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<script src="../static/js/data.js"></script>
<script src="../static/js/app.js"></script>
<script>
function myFunction() {
  document.getElementById("myForm").reset();
}
</script>







</body>
</html>



