<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">

    </div>    
    
        <div class='glow'>Happiness</h1></div>

 
    <div class='container-fluid'>
        
     
        
       
        <div class='row' style='background-image: linear-gradient( 111.5deg,  rgba(249,230,1,1) 9.9%, rgba(249,144,1,1) 19.4%, rgba(255,22,22,1) 29.2%, rgba(255,22,133,1) 37.7%, rgba(255,22,197,1) 47.7%, rgba(232,22,255,1) 53.9%, rgba(162,22,255,1) 60%, rgba(80,22,255,1) 68.8%, rgba(22,104,255,1) 74.2%, rgba(22,168,255,1) 77.6%, rgba(22,255,220,1) 86.7%, rgba(22,255,179,1) 92.5%, rgba(22,255,109,1) 97.1%, rgba(92,255,22,1) 103.5% );;'>
        
            <div class='column'style='margin-left:20px; margin-top:20px;'>
                <h5>We are going to show you how Happy the world is!<br><br> Are you ready?<br><br>Do you want to know how & why the World Happiness Report came about?</h5><br>
                    <h5>  Here is the link: Happy reading!</h5><br>
                      <button class='btn-grad' style="background-image: linear-gradient(90deg, #00dade00 0%, #ffee00 100%);">
                        <a class="navbar-brand" href="https://worldhappiness.report" <small>World Happiness Report</small></h5></button></a>   
            </div>

            <div class='column' id='earth' style='margin-top: 20px; margin-bottom: 20px;'>
            
            </div>
            
            <div class='col-md-4' style='margin-left:20px; margin-top:20px; color:black'>
                <h5>We have created maps to show you how the Life Ladder scores of the world look like.<br>We have also created clusters to see possible similarities between the countries.</h5>
                 <h5>The suffix 'LL' shows the Life Ladder and 'CI' shows the cluster ID's.</h5><br>
                 <h5>Countries with missing data are colored in white</h5><br>
                <h5>Click on the year</h5>
             <p> 
              <a href="../static/images/2008_LL.html" target='blank' style='color:white'>2008 LL &nbsp;</a>
              <a href="../static/images/2008_CI.html" target='blank' style='color:white'>2008 CI &nbsp</a>
              <a href="../static/images/2009_LL.html" target='blank' style='color:white'>2009 LL &nbsp;</a>
              <a href="../static/images/2009_CI.html" target='blank' style='color:white'>2009 CI &nbsp</a>
               <a href="../static/images/2010_LL.html" target='blank' style='color:white'>2010 LL &nbsp;</a>
               <a href="../static/images/2010_CI.html" target='blank' style='color:white'>2010 CI &nbsp</a>
               <a href="../static/images/2011_LL.html" target='blank' style='color:white'>2011 LL &nbsp;</a>
               <a href="../static/images/2011_CI.html" target='blank' style='color:white'>2011 CI &nbsp</a>
               <a href="../static/images/2012_LL.html" target='blank' style='color:white'>2012 LL &nbsp;</a>
               <a href="../static/images/2012_CI.html" target='blank' style='color:white'>2012 CI &nbsp</a>
               <a href="../static/images/2013_LL.html" target='blank' style='color:white'>2013 LL &nbsp;</a>
               <a href="../static/images/2013_CI.html" target='blank' style='color:white'>2013 CI &nbsp</a>   
             </p>
            <p>  
                <a href="../static/images/2014_LL.html" target='blank' style='color:white'>2014 LL &nbsp;</a>
                <a href="../static/images/2014_CI.html" target='blank' style='color:white'>2014 CI &nbsp</a>
                <a href="../static/images/2015_LL.html" target='blank' style='color:white'>2015 LL &nbsp;</a>
                <a href="../static/images/2015_CI.html" target='blank' style='color:white'>2015 CI &nbsp</a>
                <a href="../static/images/2016_LL.html" target='blank' style='color:white'>2016 LL &nbsp;</a>
                <a href="../static/images/2016_CI.html" target='blank' style='color:white'>2016 CI &nbsp</a>
                <a href="../static/images/2017_LL.html" target='blank' style='color:white'>2017 LL &nbsp;</a>
                <a href="../static/images/2017_CI.html" target='blank' style='color:white'>2017 CI &nbsp</a>       
            </p>
            <p>
                <a href="../static/images/2018_LL.html" target='blank' style='color:white'>2018 LL &nbsp;</a>
                <a href="../static/images/2018_CI.html" target='blank' style='color:white'>2018 CI &nbsp</a>
                <a href="../static/images/2019_LL.html" target='blank' style='color:white'>2019 LL &nbsp;</a>
                <a href="../static/images/2019_CI.html" target='blank' style='color:white'>2019 CI &nbsp</a> 
                <a href="../static/images/2020_LL.html" target='blank' style='color:white'>2020 LL &nbsp;</a>
                <a href="../static/images/2020_CI.html" target='blank' style='color:white'>2020 CI &nbsp</a>
            </p>
            </div>
        
        <!-- <div style='background-image: linear-gradient( 111.5deg,  rgba(249,230,1,1) 9.9%, rgba(249,144,1,1) 19.4%, rgba(255,22,22,1) 29.2%, rgba(255,22,133,1) 37.7%, rgba(255,22,197,1) 47.7%, rgba(232,22,255,1) 53.9%, rgba(162,22,255,1) 60%, rgba(80,22,255,1) 68.8%, rgba(22,104,255,1) 74.2%, rgba(22,168,255,1) 77.6%, rgba(22,255,220,1) 86.7%, rgba(22,255,179,1) 92.5%, rgba(22,255,109,1) 97.1%, rgba(92,255,22,1) 103.5% );;'> -->
        
          <form  action="{{url_for('predict')}}"method='post'>
            <h5>&nbsp;&nbsp; Let us predict your happiness.<br>&nbsp;&nbsp; Enter the input data below and our machine learning model will predict your happiness ladder score.</h5><br>

            &nbsp;&nbsp;<input type='text' name='GDP' placeholder='Log GDP per capita' required='required' style='margin-bottom:20px'/>
            &nbsp;&nbsp;<input type='text' name='social support' placeholder='Social support(0-10)' required='required'/>
            &nbsp;&nbsp;<input type='text' name='Healthy life expectancy at birth ' placeholder='life expectancy' required='required'/>
            &nbsp;&nbsp;<input type='text' name='Freedom to make life choices' placeholder='Freedom-life choise(0-1)' required='required'/><br>
            &nbsp;&nbsp;<input type='text' name='Generosity' placeholder='generosity -1 to 1' required='required' style='margin-bottom: 20px'/>
            &nbsp;&nbsp;<input type='text' name='Perceptions of corruption' placeholder='Corruption 0-1' required='required'/>
            &nbsp;&nbsp;<input type='text' name='Positive affect' placeholder='Positive affect 0-1' required='required'/>
            &nbsp;&nbsp;<input type='text' name='Negative affect' placeholder='Negative affect 0-1' required='required'/>
                 
            &nbsp;&nbsp; <button style='font-size: medium;margin-bottom:50px' type='submit' class='btn;'>&nbsp;&nbsp;predict&nbsp;&nbsp;</button>
             {{prediction_text}}
          </form>
        
    </div>

 
        <!-- filter section and table-->
        <!-- <div class="container-fluid"> -->
            <!-- <div class="row">
              <div class="col-md-3">
             </div>
              <div class="col-md-9">
            </div> -->

            <div class='wrapper'>        
              <!-- <form class='col-md-12'> -->
                <p>In this section, you can filter the dataset for the years 2008-2020 to see each country's Life Ladder score and it's denominators</p>
                <!-- <ul class='list-groupo bg-white' >
                  <li class='list-group-item bg-white'> -->
                    <!-- adding prompt to enter date-->
                    <label for="date">Enter Year</label>
                    <input type="number" placeholder="2008" id="year" />
                  </li>
                  <!--create a filter button called filter table-->
                  <!-- <li class='list-group-item bg-dark'> -->
                     <button id="filter-btn" type="button" class="btn" style='margin-bottom: 10px;'>
                       Filter Table
                     </button>
                   
          

                  </li>
                </ul>
            </form> 
            <!--create the html table-->
            
            <div class='col-md-12' style='background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);'>   
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <!-- build up the columns as they show in the app.py date array-->
                            <th>Country name</th>
                            <th>year</th>
                            <th>Life Ladder</th>
                            <th>Log GDP per capita</th>
                            <th>Social support</th>
                            <th>Healthy life expectancy at birth</th>
                            <th>Freedom to make life choices</th>
                            <th>Generosity</th>
                            <th>Perceptions of corruption</th>
                            <th>Positive affect</th>
                            <th>Negative affect</th>
                        </tr>
                    </thead>
                    <tbody></tbody>  
                </table>
              </div>  

    </div>


   </div>
    










<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<script src="../static/js/data.js"></script>
<script src="../static/js/app.js"></script>





</body>
</html>